In [1]:
import pandas as pd
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
#data = pd.read_csv("/home/mashjunior/Downloads/data.npy")

In [3]:
path = "/home/mashjunior/Downloads/Pcam_data/random_split/random_split/"
def read_data(partition , data_path=path):
    data = []
    for fn in os.listdir(os.path.join(data_path, partition)):
        with open(os.path.join(data_path, partition, fn)) as f:
            
            data.append(pd.read_csv(f, index_col=None))
    return pd.concat(data)

In [4]:
df_train = read_data('train')
df_val = read_data('dev')
df_test = read_data('test')

In [5]:
df_train.head()

,family_id,sequence_name,family_accession,aligned_sequence,sequence
0,FeoB_C,S6C1I2_9ACTN/507-560,PF07664.12,APVFYFLGLFAII...LSCIIL.KKF.RA..FS...G.EV..APFI...,APVFYFLGLFAIILSCIILKKFRAFSGEVAPFIMELPQYHLPTVKN...
1,Nrap_D3,G8ZWX5_TORDC/496-668,PF17404.2,NNIKYDFI........YDIHLPATG.......KGDPESLLNSRFGP...,NNIKYDFIYDIHLPATGKGDPESLLNSRFGPMEKIKFITLENFFVN...
2,Docking,K0K5J3_SACES/16-41,PF08990.11,ADEDKLREYLKRAVAEAKDARDRLRE,ADEDKLREYLKRAVAEAKDARDRLRE
3,MurB_C,M9R2Q1_9RHOB/194-304,PF02873.16,.LEDRMAAQLAKR.DETQ........P.T.....KD......RTAG...,LEDRMAAQLAKRDETQPTKDRTAGSTFRNPVGFSSTGQADDTHDLK...
4,Tyr_Deacylase,DTD_LEGPH/3-144,PF02580.16,.TVLQRVKEARVDI.........................DG...QT...,TVLQRVKEARVDIDGQTVGKINHGLLILCGFEPKDSLENIKRMLDK...

In [6]:
classes = df_train['family_accession'].value_counts()[:1000].index.tolist()
len(classes)

1000

In [7]:
train_sm = df_train.loc[df_train['family_accession'].isin(classes)].reset_index()
val_sm = df_val.loc[df_val['family_accession'].isin(classes)].reset_index()
test_sm = df_test.loc[df_test['family_accession'].isin(classes)].reset_index()
#if ram full try to decrease this numbers below
train_sm = train_sm[:50000]
val_sm = val_sm[:10000]
test_sm = test_sm[:10000]

print('Data size after considering 1000 classes for each data split:')
print('Train size :', len(train_sm))
print('Val size :', len(val_sm))
print('Test size :', len(test_sm))

Data size after considering 1000 classes for each data split:
Train size : 50000
Val size : 10000
Test size : 10000

In [8]:
#df_classes = pd.DataFrame(classes, columns = ["classes"])

In [9]:
le = LabelEncoder()

y_train_le = le.fit_transform(train_sm['family_accession'])
y_val_le = le.transform(val_sm['family_accession'])
y_test_le = le.transform(test_sm['family_accession'])

y_train_le.shape, y_val_le.shape, y_test_le.shape

((50000,), (10000,), (10000,))

In [10]:
train_sm

,index,family_id,sequence_name,family_accession,aligned_sequence,sequence
0,0,FeoB_C,S6C1I2_9ACTN/507-560,PF07664.12,APVFYFLGLFAII...LSCIIL.KKF.RA..FS...G.EV..APFI...,APVFYFLGLFAIILSCIILKKFRAFSGEVAPFIMELPQYHLPTVKN...
1,3,MurB_C,M9R2Q1_9RHOB/194-304,PF02873.16,.LEDRMAAQLAKR.DETQ........P.T.....KD......RTAG...,LEDRMAAQLAKRDETQPTKDRTAGSTFRNPVGFSSTGQADDTHDLK...
2,4,Tyr_Deacylase,DTD_LEGPH/3-144,PF02580.16,.TVLQRVKEARVDI.........................DG...QT...,TVLQRVKEARVDIDGQTVGKINHGLLILCGFEPKDSLENIKRMLDK...
3,8,Zn_ribbon_recom,A6LTU9_CLOB8/332-396,PF13408.6,LL..T..SK..LKCKC.......CGSS.......M...GI.........,LLTSKLKCKCCGSSMGITLGRRLNETGLCKVYYRCNLKRRSSGHLC...
4,13,TonB_dep_Rec,Q926C6_RHIME/253-723,PF00593.24,TWK...........PDEDTKLTVL.........GE........YSR...,TWKPDEDTKLTVLGEYSRTNSGGTATYYNDPLTGEATDIFAGNPDF...
...,...,...,...,...,...,...
49995,1776,Pept_tRNA_hydro,PTH_DESAG/6-194,PF01195.19,LIVGLGNP...GKEYENTRHNLGF....MLAD.............A...,LIVGLGNPGKEYENTRHNLGFMLADALLDEVRRTAPHAVTSLGTGK...
49996,1777,SecA_SW,F0QRY5_MYCSL/564-773,PF07516.13,..ESPFLSKTISSLQKRIQYSSFDTRKNLVEYSEILS...IQQDII...,ESPFLSKTISSLQKRIQYSSFDTRKNLVEYSEILSIQQDIIYKQRR...
49997,1780,MnhB,Q8FME0_COREF/807-931,PF04039.13,MVDVATRILFPSMIMLSVYFFFVGHNAPGGGFAGGLVAALAFALRY...,MVDVATRILFPSMIMLSVYFFFVGHNAPGGGFAGGLVAALAFALRY...
49998,1784,zf-UBR,E4XGT4_OIKDI/115-185,PF02207.20,ACQY.QF.KPD..........EETYRCL..D..CEIT............,ACQYQFKPDEETYRCLDCEITEDCPVLCRNCFDASEHKNHRWEMLR...
49999,1787,CheR_N,Q72AC1_DESVH/20-69,PF03705.15,EEFVQLRDFIYQQCGIYI..AENRKYLVENRLSNRLKDLN.LK..S...,EEFVQLRDFIYQQCGIYIAENRKYLVENRLSNRLKDLNLKSFGEYY...

In [11]:
df_train_classes = pd.DataFrame(y_train_le, columns = ["label"])
df_val_classes = pd.DataFrame(y_val_le, columns = ["label"])
df_test_classes = pd.DataFrame(y_test_le, columns = ["label"])

In [12]:
df_train_classes

       label
0        701
1        430
2        374
3        849
4        104
...      ...
49995    179
49996    693
49997    543
49998    319
49999    498

[50000 rows x 1 columns]

In [13]:
df_sequence_train = pd.concat([train_sm["sequence"], df_train_classes], ignore_index=False, sort=False, axis=1)
df_sequence_val = pd.concat([val_sm["sequence"], df_val_classes], ignore_index=False, sort=False, axis=1)
df_sequence_test = pd.concat([test_sm["sequence"], df_test_classes], ignore_index=False, sort=False, axis=1)

In [14]:
df_sequence_train.reset_index()
df_sequence_val.reset_index()
df_sequence_test.reset_index()

      index                                           sequence  label
0         0  AEKSHEATPERIKQARQKGDVAQSPEVLVFARYLGILVALLGFVSA...    204
1         1  YIVRLVFAGSTTTEPIVSSLSTAYDIKINILEANIKNTKNGTVGFL...    758
2         2  LQRTWALVAAAIAFYLPANLLPIMTMTSLGYVQSDTIFSGVLFLLD...    588
3         3  GRRKTAVASVRLRSGNGKIDINGRSLEEYFPLEIQRRTVFAPLENL...     69
4         4  KGLVHIYEGTGKGKSTAGVGLTIRCAGNGFPVVYSQFLKDGTTGEM...    370
...     ...                                                ...    ...
9995   9995             AKCTICDFVVGEVEKYVSGNATEAQIITFLNKDCKIFG    622
9996   9996  EREPAKSVSNEISVAVSLDDRHDIESLIASAAHKVGRRLRKKGLEG...    797
9997   9997  EEDPWEAVNRPIFRFNDTLDTYALKPLAKGYQAVTPQFLEDGIHNI...    580
9998   9998  MAAVCGFNISVLNNVDFEGPPKRFYYVDECVAGKGVVIPNDPPVWC...    618
9999   9999  IDLLRERIDWTPFFNAWELRGKYPQILTESEHREEAQKLFNDANRL...    440

[10000 rows x 3 columns]

In [15]:
df_sequence_test

                                               sequence  label
0     AEKSHEATPERIKQARQKGDVAQSPEVLVFARYLGILVALLGFVSA...    204
1     YIVRLVFAGSTTTEPIVSSLSTAYDIKINILEANIKNTKNGTVGFL...    758
2     LQRTWALVAAAIAFYLPANLLPIMTMTSLGYVQSDTIFSGVLFLLD...    588
3     GRRKTAVASVRLRSGNGKIDINGRSLEEYFPLEIQRRTVFAPLENL...     69
4     KGLVHIYEGTGKGKSTAGVGLTIRCAGNGFPVVYSQFLKDGTTGEM...    370
...                                                 ...    ...
9995             AKCTICDFVVGEVEKYVSGNATEAQIITFLNKDCKIFG    622
9996  EREPAKSVSNEISVAVSLDDRHDIESLIASAAHKVGRRLRKKGLEG...    797
9997  EEDPWEAVNRPIFRFNDTLDTYALKPLAKGYQAVTPQFLEDGIHNI...    580
9998  MAAVCGFNISVLNNVDFEGPPKRFYYVDECVAGKGVVIPNDPPVWC...    618
9999  IDLLRERIDWTPFFNAWELRGKYPQILTESEHREEAQKLFNDANRL...    440

[10000 rows x 2 columns]

In [16]:
def convert(s):
  
    # initialization of string to ""
    new = ""
  

   # traverse in the string 
    for x in s:
        new += x 
  
    # return string 
    return new

In [17]:
def build_kmers(sequence, ksize):
    kmers = []
    n_kmers = len(sequence) - ksize + 1

    for i in range(n_kmers):
        kmer = sequence[i:i + ksize]
        kmers.append(kmer)

    return kmers

In [18]:
#for seq in df_sequence_train['sequence']:
#    seq = ' '.join(build_kmers(seq, 3))

In [19]:
df_sequence_train['sequence'] = [' '.join(build_kmers(seq, 6)) for seq in df_sequence_train['sequence']]

In [20]:
df_sequence_train.head()

                                            sequence  label
0  APVFYF PVFYFL VFYFLG FYFLGL YFLGLF FLGLFA LGLF...    701
1  LEDRMA EDRMAA DRMAAQ RMAAQL MAAQLA AAQLAK AQLA...    430
2  TVLQRV VLQRVK LQRVKE QRVKEA RVKEAR VKEARV KEAR...    374
3  LLTSKL LTSKLK TSKLKC SKLKCK KLKCKC LKCKCC KCKC...    849
4  TWKPDE WKPDED KPDEDT PDEDTK DEDTKL EDTKLT DTKL...    104

In [21]:
df_sequence_val['sequence'] = [' '.join(build_kmers(seq, 6)) for seq in df_sequence_val['sequence']]

In [22]:
df_sequence_val.head()

                                            sequence  label
0  EKLFHA KLFHAQ LFHAQD FHAQDD HAQDDR AQDDRL QDDR...    420
1  PPALMD PALMDL ALMDLC LMDLCA MDLCAL DLCALA LCAL...    694
2  EIILAG IILAGG ILAGGC LAGGCF AGGCFW GGCFWG GCFW...    239
3  EVTVNV VTVNVY TVNVYN VNVYNG NVYNGT VYNGTT YNGT...    847
4  TGKLAG GKLAGG KLAGGN LAGGNL AGGNLA GGNLAL GNLA...    960

In [23]:
df_sequence_test['sequence'] = [' '.join(build_kmers(seq, 6)) for seq in df_sequence_test['sequence']]

In [24]:
df_sequence_test.head()

                                            sequence  label
0  AEKSHE EKSHEA KSHEAT SHEATP HEATPE EATPER ATPE...    204
1  YIVRLV IVRLVF VRLVFA RLVFAG LVFAGS VFAGST FAGS...    758
2  LQRTWA QRTWAL RTWALV TWALVA WALVAA ALVAAA LVAA...    588
3  GRRKTA RRKTAV RKTAVA KTAVAS TAVASV AVASVR VASV...     69
4  KGLVHI GLVHIY LVHIYE VHIYEG HIYEGT IYEGTG YEGT...    370

In [25]:
seq_train = "/home/mashjunior/Downloads/Pcam_data/new_sequence_data/seq_train.csv"
seq_val = "/home/mashjunior/Downloads/Pcam_data/new_sequence_data/seq_val.csv"
seq_test = "/home/mashjunior/Downloads/Pcam_data/new_sequence_data/seq_test.csv"
df_sequence_train.to_csv(seq_train, sep=',', encoding='utf-8',index=False)
df_sequence_train.to_csv(seq_val, sep=',', encoding='utf-8',index=False)
df_sequence_train.to_csv(seq_test, sep=',', encoding='utf-8',index=False)

In [26]:
import torch 
import argparse
import sys
sys.path.append("..")

In [27]:
parser = argparse.ArgumentParser()
parser.add_argument(
    '--embedding', 
    default='full',
    choices=['tt', 'tr', 'full'],
    type=str)
parser.add_argument('--ranks', type=int, default=8)
parser.add_argument('--d', type=int, default=3)
parser.add_argument('--embed_dim', type=int, default=64)
parser.add_argument('--voc_dim', default=250, type=int)
parser.add_argument('--lr', default=5e-4)
parser.add_argument('--gpu', default='', type=str)
parser.add_argument('--hidden_dim', default=128, type=int)
parser.add_argument('--n_epochs',  default=10, type=int)
parser.add_argument('--fout',  default="logdir/", type=str)
parser.add_argument('--dropout', default=0.5, type=float)
parser.add_argument(
    '--dataset',
    default='TB',
    type=str)
args = parser.parse_args('')

In [28]:
if args.embedding == 'tt':
    tt = "tt"
elif args.embedding == 'tr':
    tt = 'tr'
else:             
    tt = "full"

In [29]:
model_name = f"{args.dataset}-dim_{args.embed_dim}-d_{args.d}-ranks_{args.ranks}-{tt}"

In [30]:
import os
os.environ['CUDA_DEVICE_ORDER']='PCI_BUS_ID'
os.environ['CUDA_VISIBLE_DEVICES']=args.gpu
import utils
import torch
import numpy as np
import torch.nn.functional as F
import torch.nn as nn
import t3nsor as t3
from torchtext import data
from torchtext import datasets
import torch.optim as optim
from models import LSTM_Classifier
#from utils import binary_accuracy, train, evaluate
import pickle
import random
import spacy
from spacy.cli.download import download
random.seed(42)
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
nlp = spacy.load("en_core_web_sm")

In [31]:
print("Building the dataset")
seq_train = "/home/mashjunior/Downloads/Pcam_data/new_sequence_data/seq_train.csv"
seq_val = "/home/mashjunior/Downloads/Pcam_data/new_sequence_data/seq_val.csv"
seq_test = "/home/mashjunior/Downloads/Pcam_data/new_sequence_data/seq_test.csv"


TEXT = data.Field(tokenize='spacy', fix_length=100)
LABEL = data.LabelField(dtype=torch.float)
fields = [('sequence', TEXT),('label', LABEL)]
fields = [('text', TEXT),('label', LABEL)]
fields = [('text', TEXT),('label', LABEL)]


training_data = data.TabularDataset(
    path=seq_train,
    format='csv',
    fields=fields,
    skip_header=True,
)

validation_data = data.TabularDataset(
    path=seq_val,
    format='csv',
    fields=fields,
    skip_header=True,
)

test_data = data.TabularDataset(
    path=seq_test,
    format='csv',
    fields=fields,
    skip_header=True,
)
print("done")

sequence,y_train_classes

Building the dataset
done

NameError: name 'sequence' is not defined

In [ ]:
training_data

In [ ]:
device

In [ ]:
OUTPUT_DIM = 1000
#train_data, test_ = datasets.IMDB.splits(TEXT, LABEL)
#test_list = list(test_)
#random.shuffle(test_list)
#test_data_ = test_list[:12500]
#val_data_ = test_list[12500:]
#train_data = data.dataset.Dataset(train_data, fields=[('text', TEXT), ('label', LABEL)])
valid_data = data.dataset.Dataset(val_data, fields=fields)
test_data = data.dataset.Dataset(test_data, fields=fields)

In [ ]:
def sort_key(ex):
    return len(ex.text)

In [ ]:
TEXT.build_vocab(train_data, max_size=args.voc_dim - 2)
LABEL.build_vocab(train_data)

BATCH_SIZE = 64

In [ ]:
train_iterator, valid_iterator, test_iterator = data.BucketIterator.splits(
    (train_data, valid_data, test_data),
    batch_size=BATCH_SIZE,
    device=device)

valid_iterator.sort_key = sort_key
test_iterator.sort_key = sort_key

In [ ]:
INPUT_DIM = len(TEXT.vocab)
EMBEDDING_DIM = args.embed_dim
HIDDEN_DIM = args.hidden_dim
N_LAYERS = 2
BIDIRECTIONAL = True
DROPOUT = args.dropout

In [ ]:
actual_vocab_size = len(TEXT.vocab.stoi)

In [ ]:
actual_vocab_size

In [ ]:
lstm_model = LSTM_Classifier(embedding_dim=EMBEDDING_DIM,
                             hidden_dim=HIDDEN_DIM,
                             output_dim=OUTPUT_DIM,
                             n_layers=N_LAYERS,
                             bidirectional=BIDIRECTIONAL,
                             dropout=DROPOUT)

In [ ]:
if args.embedding == 'tt':
        embed_model = t3.TTEmbedding(
            voc_size=INPUT_DIM,
            emb_size=EMBEDDING_DIM,
            auto_shapes=True,
            auto_shape_mode='mixed',
            d=args.d,
            tt_rank=args.ranks,
            padding_idx=1
        )
        compression_rate = INPUT_DIM * EMBEDDING_DIM / embed_model.tt_matrix.dof
elif args.embedding == 'tr':
        embed_model = t3.TREmbedding(
            voc_size=INPUT_DIM,
            emb_size=EMBEDDING_DIM,
            auto_shapes=True,
            auto_shape_mode='mixed',
            d=args.d,
            tr_rank=args.ranks,
            padding_idx=1
        )
        compression_rate = INPUT_DIM * EMBEDDING_DIM / embed_model.tr_matrix.dof
else:
    embed_model = nn.Embedding(
        num_embeddings=INPUT_DIM,
        embedding_dim=EMBEDDING_DIM
    )
    compression_rate = 1.0


def cross_entropy_loss(logits, target):
    labels = target.type(torch.LongTensor).to(logits.device)
    return nn.CrossEntropyLoss()(logits, labels)

In [ ]:
model = nn.Sequential(embed_model, lstm_model)

In [ ]:
def binary_accuracy(preds, y):
    """
    Returns accuracy per batch, i.e. if you get 8/10 right, this returns 0.8, NOT 8
    """

    #round predictions to the closest integer
    if len(preds.shape) == 1:
        rounded_preds = torch.round(torch.sigmoid(preds))
    else:
        rounded_preds = preds.argmax(1)
    correct = (rounded_preds == y).float() #convert into float for division
    acc = correct.sum()/len(correct)
    return acc

In [ ]:
def train(model, iterator, optimizer, criterion):

    epoch_loss = 0
    epoch_acc = 0
    total_len = 0

    model.train()
    
    if isinstance(criterion, nn.CrossEntropyLoss):
        dtype = torch.LongTensor
    elif isinstance(criterion, nn.BCEWithLogitsLoss):
        dtype = torch.FloatTensor

    for i, batch in enumerate(iterator):

        optimizer.zero_grad()
        device = batch.text.device
        labels = batch.label.type(dtype).to(device)
        predictions = model(batch.text).squeeze(1)
        loss = criterion(predictions, labels)
        acc = binary_accuracy(predictions, labels)
        loss.backward()
        optimizer.step()

        B = batch.label.shape[0]

        epoch_loss += B * loss.item()
        epoch_acc += B * acc.item()

        total_len += B


        if i > len(iterator):
            break

    return epoch_loss / total_len, epoch_acc / total_len

In [ ]:
def evaluate(model, iterator, criterion):

    epoch_loss = 0
    epoch_acc = 0
    total_len = 0

    model.eval()
    
    if isinstance(criterion, nn.CrossEntropyLoss):
        dtype = torch.LongTensor
    elif isinstance(criterion, nn.BCEWithLogitsLoss):
        dtype = torch.FloatTensor

    with torch.no_grad():

        for i, batch in enumerate(iterator):
            
            device = batch.text.device
            labels = batch.label.type(dtype).to(device)
            predictions = model(batch.text).squeeze(1)

            loss = criterion(predictions, labels)

            acc = binary_accuracy(predictions, labels)
            B = batch.label.shape[0]
classes = df_train['family_accession'].value_counts().index.tolist()
len(classes)
            epoch_loss += B * loss.item()
            epoch_acc += B * acc.item()
            total_len += B

            if i > len(iterator):
                break

    return epoch_loss / total_len, epoch_acc / total_len

In [ ]:
if args.dataset == 'TB':
    criterion = nn.BCEWithLogitsLoss()
    criterion = criterion.to(device)
#elif args.dataset[:3] == 'sst':
#    criterion = nn.CrossEntropyLoss()
    #criterion = criterion.to(device)
else:
    raise NotImplementedError

#criterion = nn.BCEWithLogitsLoss()
#criterion = criterion.to(device)

In [ ]:
model = model.to(device)
optimizer = optim.Adam(model.parameters(), lr=1e-3)
print(model)
N_EPOCHS = args.n_epochs

In [ ]:
log = {
    'compression_rate':compression_rate,
    'train_loss':[], 'test_loss':[], 'valid_loss':[],
    'train_acc':[], 'test_acc':[], 'valid_acc':[]}
best_result = {
    "epoch": 0, "train_acc": 0, "valid_acc": 0, "train_acc": 0}

In [ ]:
for epoch in range(N_EPOCHS):

    train_loss, train_acc = train(model, train_iterator, optimizer, criterion)
    test_loss, test_acc = evaluate(model, test_iterator, criterion)
    valid_loss, valid_acc = evaluate(model, valid_iterator, criterion)

    log['train_loss'].append(train_loss)
    log['test_loss'].append(test_loss)
    log['train_acc'].append(train_acc)
    log['test_acc'].append(test_acc)
    log['valid_acc'].append(valid_acc)
    log['valid_loss'].append(valid_loss)

    if best_result["valid_acc"] < valid_acc:
        best_result["epoch"] = epoch
        best_result["train_acc"] = train_acc
        best_result["valid_acc"] = valid_acc
        best_result["test_acc"] = test_acc

    #if args.fout is not None:
    #    with open(args.fout+f"{model_name}-best.pkl", 'wb') as f:
    #        pickle.dump(best_result, f)
    print(f'| Epoch: {epoch+1:.2f} | Train Loss: {train_loss:.3f} | Train Acc: {train_acc*100:.2f}% | Val. Loss: {valid_loss:.3f} | Val. Acc: {valid_acc*100:.2f}% | Test Loss: {test_loss:.3f} | Test Acc: {test_acc*100:.2f}% |')
    print ("TEST ACCURACY:", np.round(best_result["test_acc"] * 100, 2))

In [ ]:
log

In [ ]:
best_result